body{
  background-image: url("../images/104127898_2550260008621004_6814968567938621987_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#movies img, #movie img{
  width: 100%;
}

@media(min-width:960px){
  #movies .col-sm-3 .well{
    height: 500px;
  }

  #movies .col-sm-3 img{
    height: 380px;
  }
}
.row > div {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;

}

@media (max-width:768px) {
  [class*='col-sm'] {
    width:100%;
  }
}
* {
  box-sizing: border-box;
}