* {margin: 0; padding: 0;}
body{
    background-image: url("../images/6399-fitandcrop-890x502.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    color: whitesmoke;
}
.containercinema {
    margin: 0;
}

.containercinema ul {
    list-style-type: none;
    margin: 0;
}

.containercinema h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    color:#0056b3;
}
.containercinema li img {
    flex:1;
    float: left;
    margin: 0 15px 0 0;
}

.containercinema li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.containercinema li {
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    overflow: auto;
    margin-bottom: 15px;
}
.containercinema footer{
}

.containercinema li:hover {
    background: #eee;
    cursor: pointer;
    opacity: 0.7;
}
.containercinema li:hover p{
    color:black;
}
.astyle{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 20px;
}
.containercinema a{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding-top: 15px;
    padding-bottom: 10px;
}
.profile-name {
    color:whitesmoke;
}
.wrapper {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


