{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="col-6">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
