<h1>{{ senderName }} Tried To Contact You !</h1>

<p>
    Name    : {{ senderName }} <br/>
    Email   : {{ senderEmail}} <br/>
    Message : <br/>{{ senderMessage }}

</p>

<p>
    This message was sent via the Contact Us Form , from "WebProject"
</p>