
{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="col-6">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="save" />
        {{ form_end(form) }}

    </div>


{% endblock %}
